$background-color: (
  background-primary-color: #fff,

  background-secondary-color: #fef8f1,

  background-dark-color: #161616,
);

$theme-color: (
  primary-color: #4a302c,

  secondary-color: #e68100,

  color-light: #fff,

  theme-dark-color: #161616,

  border-color: #707070,
);

$mobile-width: 480px;

$tablet-width: 767px;

$desktop-width: 1024px;

$landscape-width: 1538px;

$Xl-font-size: 2.8125rem;

$m-font-size: 1.375rem;

$xl-line-height: 1.311111111111111;
