.banner {
    background-color: #edeae7;
    position: relative;

    .banner__image-wrapper {
        width: 100%;
        overflow: hidden;
        position: relative;

        .banner__small-icons li {
            &:nth-child(1) {
                position: absolute;
                right: 5%;
                top: -11%;
                width: 60px;
            }
        }

        .overlay {
            background-color: #e0e0e0;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            position: absolute;
        }
    }

    &__image {
        background: url('/images/banner-image.png')no-repeat center center/cover;
        padding-top: 55%;
        overflow: hidden;
        position: relative;
        transform-origin: left;
        transform: scale(1.2);
        transform-origin: center;
        opacity: 0;
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }

    .content {
        font-weight: 600;
        text-decoration: underline;
        text-transform: uppercase;
        position: relative;
        margin-top: 2rem;
        letter-spacing: 1px;

    }

    &__text {
        z-index: 2;
        padding: 3rem;

        h1 {
            font-size: clamp(3rem, 8vw, 8rem);
            overflow: hidden;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            line-height: 1.2;
            text-transform: uppercase;
            color: #000;
            position: relative;


            span.outline-text {
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                display: block;
                color: transparent;
                -webkit-text-stroke-width: 2px;
                -webkit-text-stroke-color: black;
            }

            .next-text {
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .banner {
        height: 100vh;
        display: flex;
        justify-content: end;
        width: 100%;

        &__text {
            padding-left: 5rem;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        .banner__image-wrapper {
            width: 60%;
            height: fit-content;
            top: 50%;
            transform: translateY(-50%);
            margin-left: auto;
            right: 0;
        }

        &__image {
            height: 0;
            padding-top: 65%;
        }

        .content {
            max-width: 60%;
        }
    }
}