.coffee-wrap {
    display: grid;
    grid-template-columns: 1fr;
}

.coffee-section {

    img {
        object-fit: cover;
        display: block;
    }

    .sticky-image {
        overflow: hidden;
        height: 50vh;

        img {
            transform-origin: center;
            object-position: top center;
        }
    }

}